name: CI
  
on:
  push:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: ['3.5', '3.6', '3.7', '3.8', '3.9', '3.10', '3.11', 'pypy-2.7', 'pypy-3.7', 'pyston']
        os: [ubuntu-20.04]
        architecture: ["x64"]
        include:
          - python-version: '3.4'
            os: windows-latest
            architecture: "x64"
          - python-version: '3.11'
            os: macos-latest
            architecture: "x64"
          - python-version: '3.11'
            os: windows-latest
            architecture: "x64"
          - python-version: '3.11'
            os: windows-latest
            architecture: "x86"

    steps:
    - uses: actions/checkout@v3
    - name: Checkout submodule
      run: |
        git submodule init
        git submodule update
    - name: Set up Python ${{ matrix.python-version }}
      if: ${{ matrix.python-version != 'pyston' }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
        architecture: ${{ matrix.architecture }}
    - name: Set up Pyston
      if: ${{ matrix.python-version == 'pyston' }}
      run: |
        wget -O pyston.deb https://github.com/pyston/pyston/releases/download/pyston_2.3.2/pyston_2.3.2_20.04.deb
        sudo apt update
        sudo apt install -y ./pyston.deb
        sudo ln -sf pyston /usr/bin/python
    - name: Upgrade pip
      if: ${{ matrix.python-version != '2.7' && matrix.python-version != '3.4' }}
      run: |
        python -m pip install --upgrade pip
    - name: Upgrade pip (2.7)
      if: ${{ matrix.python-version == '2.7' }}
      run: |
        python -m pip install --upgrade pip~=20.0
        python -m pip install --upgrade setuptools~=44.0
    - name: Upgrade pip (3.4)
      if: ${{ matrix.python-version == '3.4' }}
      run: |
        python -m pip install --upgrade pip~=19.0
        python -m pip install --upgrade setuptools~=43.0
    - name: Install
      run: |
        python -m pip install .
        python -m pip install pytest
    - name: Test
      run: |
        # has to be script to avoid current directory being sys.path
        pytest -v
